@model IEnumerable<Bina.Models.Article>


@{
    // Define a helper function to cut the string
    Func<string, int, string> truncate = (str, length) =>
     str?.Length > length ? str.Substring(0, length) + "..." : str;
}


<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <p>
            <a asp-action="Create" class="btn btn-success">Add New Article</a>
        </p>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
             @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">

                        <div class="position-relative">
                            <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="Image" style="height:225px; width:100%; object-fit:cover;">
                            <span class="position-absolute top-0 end-0 bg-warning text-dark m-2 px-2 py-1 rounded">
                                @Html.DisplayFor(modelItem => item.ArticleStatus.ArticleStatusName)
                            </span>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.ArticleName)</h5>

                            <p class="card-text">
                                <span class="h6">Description:</span> <span>@truncate(item.Content, 50)</span>
                            </p>
                            
                            <p class="card-text">
                                <span class="h6">Faculty:</span> <span>@Html.DisplayFor(modelItem => item.ArticlesDeadline.FacultyId)</span>
                                <span>-</span>
                                <span class="h6">Term:</span> <span>@Html.DisplayFor(modelItem => item.ArticlesDeadline.TermTitle)</span>
                            </p>

                            <p class="card-text">
                                <span class="h6">Create by:</span> <span>@Html.DisplayFor(modelItem => item.User.FullName)</span>
                            </p>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <button type="button" class="btn btn-primary my-2 read-more-button" data-article-id="@item.ArticleId">
                                    <i class="fa-solid fa-star"></i> READ MORE
                                </button>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Assign click event to 'Read More' button
            $('.read-more-button').click(function () {
                var articleId = $(this).data('article-id');
                window.location.href = '@Url.Action("Details", "Articles")' + '?id=' + articleId;
            });
        });
    </script>
}
