@model Tuple<IEnumerable<Bina.Models.Article>, Bina.Models.Pager>
@{
    ViewData["Title"] = "Index";
    // Define a helper function to cut the string
    Func<string, int, string> truncate = (str, length) =>
        str?.Length > length ? str.Substring(0, length) + "..." : str;
}

<div class="container my-5">
    <h1 class="text-center mb-4">Welcome to: @ViewBag.FacultyName Page</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var item in Model.Item1)
        {
            <div class="col">
                <div class="card shadow-sm">
                    <div class="position-relative">
                        @* Adjust the condition to check for the item's image existence *@
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="Article Image" style="height:225px; width:100%; object-fit:cover;">
                        }
                      
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ArticleName)</h5>
                        <p class="card-text">
                            <span class="h6">Description:</span> <span>@truncate(item.Content, 50)</span>
                        </p>
                        <p class="card-text">
                            <span class="h6">Faculty:</span> <span>@Html.DisplayFor(modelItem => item.ArticlesDeadline.FacultyId)</span>
                            <span>-</span>
                            <span class="h6">Term:</span> <span>@Html.DisplayFor(modelItem => item.ArticlesDeadline.TermTitle)</span>
                        </p>
                        <p class="card-text">
                            <span class="h6">Create by:</span> <span>@Html.DisplayFor(modelItem => item.User.FullName)</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-primary my-2 read-more-button" data-article-id="@item.ArticleId">
                                <i class="fa-solid fa-star"></i> READ MORE


                            </button>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Item2.CurrentPage != 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="ArticlesFaculty" asp-action="Index" asp-route-page="1" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">First</span>
                    </a>
                </li>
            }
            @for (var i = Model.Item2.StartPage; i <= Model.Item2.EndPage; i++)
            {
                <li class="page-item @(i == Model.Item2.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="ArticlesFaculty" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            @if (Model.Item2.CurrentPage != Model.Item2.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="ArticlesFaculty" asp-action="Index" asp-route-page="@Model.Item2.TotalPages" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Last</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.read-more-button').click(function () {
                var articleId = $(this).data('article-id');
                window.location.href = '@Url.Action("Details", "ArticlesFaculty")' + '?id=' + articleId;
            });
        });
    </script>
}
